@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --chart-1: 12 76% 61%;
    --chart-2: 91 16% 58%;
    --chart-3: 21 9% 56%;
    --chart-4: 12 85% 80%;
    --chart-5: 108 27% 70%;
    
    --radius: 0.75rem;
  }

  .dark {
    --background: 87 20% 12%;
    --foreground: 36 52% 92%;

    --card: 88 19% 18%;
    --card-foreground: 36 52% 92%;

    --popover: 88 19% 18%;
    --popover-foreground: 36 52% 92%;

    --primary: 91 16% 58%;
    --primary-foreground: 36 52% 92%;

    --secondary: 8 38% 79%;
    --secondary-foreground: 89 21% 30%;

    --muted: 79 12% 29%;
    --muted-foreground: 28 11% 61%;

    --accent: 0 39% 66%;
    --accent-foreground: 89 21% 30%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 79 12% 29%;
    --input: 79 12% 29%;
    --ring: 91 16% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
